@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #DC0F0F;
    color: white;
    text-align: center;
}

.logo {
    width: 15%;
}

main {
    font-family: 'Kantumruy Pro', sans-serif;
}

.order_search {
    text-align: center;
    padding: 2rem;
}

#search {
    padding: .3rem;
    border: 2px solid black;
    border-radius: 6px;
}

.icon {
    background: none;
    border: none;
    position: absolute;
    margin: 0.2rem 0rem 0rem -2rem;
}

.ascending, .descending {
    background: none;
    border: 2px solid black;
    border-radius: 6px;
    padding: .3rem;
    cursor: pointer;
}

.ascending:hover, .descending:hover {
    background: black;
    color: white;
    transition: 1s;
}

.pokemon {
    background-color: lightblue;
    text-align: center;
    width: 15%;
    border-radius: 1rem;
    border: 2px solid black;
    margin-left: 2rem;
}

.image {
    width: 50%;
}

.description {
    line-height: 1.3;
}

.name {
    text-transform: capitalize;
    letter-spacing: 1px;
}