@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&family=Roboto&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #F1F4F8;
  color: #0F2941;
  line-height: 1.5;
  font-size: 0.875rem;
}

header {
    background-color: #DC0F0F;
    color: white;
    text-align: center;
}

.logo {
    width: 15%;
}

main {
    font-family: 'Kantumruy Pro', sans-serif;
}

.order_search {
    text-align: center;
    padding: 2rem;
}

#search {
    padding: .4rem;
    border: 2px solid black;
    border-radius: 6px;
}

.icon {
    background: none;
    border: none;
    position: absolute;
    margin: 0.3rem 0rem 0rem -2rem;
}

.section {
    padding: 2rem 0;
}
  
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
} 

.about-img {
    margin: 0 auto;
    background-color: lightblue;
    width: 100%;
    text-align: center;
    border-radius: .5rem;
}

.image {
    height: 15rem;
    background: white;
    border-radius: 50%;
}

.about {
    background: white;
    border-radius: .5rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.btn-container {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn {
    padding: 1rem 0;
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
    background: #D9E2EC;
    cursor: pointer;
    transition: all .3s linear;
    letter-spacing: .2rem;
}
  
.tab-btn:hover:not(.active) {
    background: #EAF6FF;
    color: #49a6e9;
}

.tab-btn:nth-child(1) {
    border-top-left-radius: .5rem;
}

.tab-btn:nth-child(3) {
    border-top-right-radius: .5rem;
}

.tab-btn.active {
    background: white;
}

.about-content {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 2rem 1.5rem;
}

.content {
    display: none;
    font-size: 14pt;
}

.content.active {
    display: block;
}

.name {
    text-transform: capitalize;
    padding-top: 1rem;
}

.type {
    padding-top: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 992px) {

    .section-center {
        width: 95vw;
    }

    .about-img {
        margin-bottom: 0;
    }

    .about-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}