.evolution {
  display: flex;
  justify-content: center;
  text-align: center;

  @include phone {
    flex-direction: column;
  }

  &__pokemon {
    width: 75%;
    height: auto;

    @include phone {
      width: 30%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__arrow {
    filter: invert(1);
    opacity: 0.5;
    width: 30%;
    height: auto;

    @include phone {
      display: none;
    }
  }
}