.detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  padding: 65px 10px 10px;
  width: 100%;
  height: 100vh;
  background: $black-two;
  overflow: scroll;
}

.detail-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 54vw;
  position: relative;
  max-width: 510px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 15px 30px $black-three, 0 10px 10px $black-three;

  @include phone {
    width: 90%;
    height: 130%;
  }

  @include tablet {
    height: 130%;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -60px;
  width: 120px;
  height: 120px;
  background-color: $blue;
  border-radius: 50%;
  box-shadow: 0 15px 30px $black-three, 0 10px 10px $black-three;

  img {
    width: 100%;
  }
}

.data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h2 {
  text-transform: capitalize;
}

.property,
.status {
  width: 90%;
  max-width: 400px;
  border-bottom: 1px solid $light-gray-two;
  margin-bottom: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}



.close {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: $red;
  color: $white-two;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

i.fa-spinner {
  text-align: center;
}

i {
  font-size: 2rem;
  color: $white-two;
}