.preloader {
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  z-index: 999;
  transition: all 2s;
}

.hide-preloader {
  z-index: 999;
  visibility: hidden;
}